body{
   background:#F2F2F2;
   color:#084B8A;
   font-size:16px;
   font-family:Arial;
 
}
fieldset{
  margin-top:10px;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border: 3px solid #cc6666;
}
th{
color: white;
}
.campo1{
   background:#fff;
   border:1px solid #FF0000;
   padding:5px;
}
.boton1{
margin-top:5px
}
.tabla1{
margin-top:5%;
}
header{
   background:#1C4583;
   color:#fff;
   padding:5px;
   text-align: center
}

footer{
    background:#1C4583;
   color:#fff;
   padding:5px;
   text-align: center

}
footer a{
    color:#FF8000;
    text-decoration: none;
}
footer a:hover{
    color:#F2F5A9;

}

.campo3{ border:white};

.label{
margin-left:5px;
margin-right:5px;
}
